<div class="container">
  <div class="row">
  </div>
  <div class="row">
		<div class="col-sm-12 col-md-5 col-lg-4">
			<div class="col-md-12 col-lg-12 featured-article" style="padding-left:0px; padding-right:0px" >
				<a href="#">
					<img src="http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg" alt="" class="thumb" width="100%">
				</a>
				<div class="block-title">
					<h2>ビットコイン高騰！！</h2>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-5 col-lg-5">
			<ul class="media-list main-list">
			  <li class="media">
			    <a class="pull-left" href="#">
			      <img class="media-object" src="http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg" alt="..." width="150", height="90">
			    </a>
			    <div class="media-body">
			      <h4 class="media-heading">最新ニュース</h4>
			      <p class="by-author">By Hamada</p>
			    </div>
			  </li>
			  <li class="media">
			    <a class="pull-left" href="#">
			      <img class="media-object" src="http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg" alt="..." width="150", height="90">
			    </a>
			    <div class="media-body">
			      <h4 class="media-heading">人気ニュース</h4>
			      <p class="by-author">By Tomaru</p>
			    </div>
			  </li>
			  <!-- <li class="media">
			    <a class="pull-left" href="#">
			      <img class="media-object" src="http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg" alt="..." width="150", height="90">
			    </a>
			    <div class="media-body">
			      <h4 class="media-heading">注目ニュース</h4>
			      <p class="by-author">By Hamada</p>
			    </div>
			  </li> -->
			</ul>
		</div>
    <div class="col-sm-3 col-md-2 col-lg-3">
      <p>hello</p>
    </div>
	</div>
