<div class="sidebar">
  <h3 class="popular">人気記事</h3>
  <div class="contents_s">
    <div class="access_rank_post">
      <div class="side_postlist">
        <div class="collapse navbar-collapse" id="nav_target">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Daily</a></li>
            <li><a href="#">Weekly</a></li>
            <li><a href="#">Monthly</a></li>
          </ul>
          <div id="disp_rank">
            <div class="column">
              <span class="rank">1</span>
              <a href="#">
                  <img src="https://pbs.twimg.com/profile_images/378800000220029324/fe66faeca20115da8566e51d83447ead_400x400.jpeg" alt="" width="100" height="100"/>
                <h5>仮想通貨関係「2018年予測と展望」part1｜ICO真の価値・Bitcoinで日本…</h3>
              </a>
              <p class="info">
              とまるしょうき
              </p>
            </div>
            <div class="column">
              <span class="rank">2</span>
              <a href="#">
                  <img src="http://usbcode.ir/wp-content/uploads/2017/03/bootstrap.jpg" alt="" width="300" height="300" />
                <h5>仮想通貨「2018年の予測と展望part2」ビットコインの価格｜クラッシュか5万ドル…</h3>
              </a>
              <p class="info">
              トマルショウキ
              </p>
            </div>
            <div class="column">
              <span class="rank">3</span>
              <a href="#">
                  <img src="http://usbcode.ir/wp-content/uploads/2017/03/bootstrap.jpg" alt="" width="300" height="300" />
                <h5>メガバンク、りそな銀行、他約６０の金融送金手数料10分の１｜Ripple(リップル)…</h3>
              </a>
              <p class="info">
              都丸翔貴
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tag">
    <h3>注目のキーワード</h3>
    <a href="#"><span class="label label-info">仮想通貨</span></a>
    <a href="#"><span class="label label-info">Bitcoin</span></a>
    <a href="#"><span class="label label-info">ICO</span></a>
    <a href="#"><span class="label label-info">ブロックチェーン</span></a>
    <a href="#"><span class="label label-info">Ripple</span></a>
    <a href="#"><span class="label label-info">マイニング</span></a>
    <a href="#"><span class="label label-info">中国</span></a>
    <a href="#"><span class="label label-info">フィンテック</span></a>
    <a href="#"><span class="label label-info">取引所</span></a>
    <a href="#"><span class="label label-info">アルトコイン</span></a>
    <a href="#"><span class="label label-info">イーサリアム</span></a>
    <a href="#"><span class="label label-info">投資</span></a>
  </div>
</div>
