<div class="container">
  <div class="row">
  </div>
  <div class="row">
		<div class="col-md-5 col-lg-5">
			<div class="featured-article">
				<a href="#">
					<img src="http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg" alt="" class="thumb" width="482" height="301">
				</a>
				<div class="block-title">
					<h2>ビットコイン暴落！！！！</h2>
				</div>
			</div>
		</div>
		<div class="col-md-7 col-lg-7">
			<ul class="media-list main-list">
			  <li class="media">
			    <a class="pull-left" href="#">
			      <img class="media-object" src="http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg" alt="..." width="150", height="90">
			    </a>
			    <div class="media-body">
			      <h4 class="media-heading">最新ニュース</h4>
			      <p class="by-author">By Hamada</p>
			    </div>
			  </li>
			  <li class="media">
			    <a class="pull-left" href="#">
			      <img class="media-object" src="http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg" alt="..." width="150", height="90">
			    </a>
			    <div class="media-body">
			      <h4 class="media-heading">人気ニュース</h4>
			      <p class="by-author">By Tomaru</p>
			    </div>
			  </li>
			  <li class="media">
			    <a class="pull-left" href="#">
			      <img class="media-object" src="http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg" alt="..." width="150", height="90">
			    </a>
			    <div class="media-body">
			      <h4 class="media-heading">注目ニュース</h4>
			      <p class="by-author">By Hamada</p>
			    </div>
			  </li>
			</ul>
		</div>
	</div>

  <h2><記事一覧></h2>
  <div class="container2">
  	<div class="row">
      <div>
  		    <article>
  		        <div class="row">
  		            <div class="col-sm-6 col-md-4">
  		               <img src="http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg" width="260" height="125">
  		            </div>
  		            <div class="col-sm-6 col-md-8">
  		                <span class="label label-default pull-right"><i class="glyphicon glyphicon-comment"></i>50</span>
  		                <h4>仮想通貨ランキング2018.1.7｜イラン反政府デモ“資産逃がしに”仮想通貨取引増か</h4>
  		                <p>2018年初めての仮想通貨ランキング。今年スタートして1週間ですが、世界のおかれている状況が変動してきました…</p>
  		                <section>
  		                    <i class="glyphicon glyphicon-folder-open"></i>仮想通貨
  		                    <i class="glyphicon glyphicon-user"></i>Hamada
  		                    <i class="glyphicon glyphicon-calendar"></i>2018/01/08
  		                    <i class="glyphicon glyphicon-eye-open"></i>50003
  		                    <a href="#" class="btn btn-default btn-sm pull-right">More ... </a>
  		                </section>
  		            </div>
  		        </div>
  		    </article>

  		    <article>
  		        <div class="row">
  		            <div class="col-sm-6 col-md-4">
                    <img src="http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg" width="260" height="125">
  		            </div>
  		            <div class="col-sm-6 col-md-8">
  		                <span class="label label-default pull-right"><i class="glyphicon glyphicon-comment"></i>50</span>
  		                <h4>仮想通貨Bitcoin2週間ぶり200万円タッチ｜アルトコインからの策略説とTRON…</h4>
  		                <p>仮想通貨ビットコインが2週間ぶりに高値になったことで、大口投資家の策略説が流れてきました。ビットコインより安…</p>
  		                <section>
  		                    <i class="glyphicon glyphicon-folder-open"></i>altcoin
  		                    <i class="glyphicon glyphicon-user"></i>Tomaru
  		                    <i class="glyphicon glyphicon-calendar"></i>2018/01/08
  		                    <i class="glyphicon glyphicon-eye-open"></i>67090
  		                    <a href="#" class="btn btn-default btn-sm pull-right">More ... </a>
  		                </section>
  		            </div>
  		        </div>
  		    </article>

  		    <article>
  		        <div class="row">
  		            <div class="col-sm-6 col-md-4">
                    <img src="http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg" width="260" height="125">
  		            </div>
  		            <div class="col-sm-6 col-md-8">
  		                <span class="label label-default pull-right"><i class="glyphicon glyphicon-comment"></i>50</span>
  		                <h4>仮想通貨「2018年の予測と展望part2」ビットコインの価格｜クラッシュか5万ドル…</h4>
  		                <p>「2018年予測と展望part2」として、今回は誰もが一度は気になる仮想通貨ビットコインへの意見を集めました…</p>
  		                <section>
  		                    <i class="glyphicon glyphicon-folder-open"></i>Bitcoin
  		                    <i class="glyphicon glyphicon-user"></i>Hamada
  		                    <i class="glyphicon glyphicon-calendar"></i>2018/01/08
  		                    <i class="glyphicon glyphicon-eye-open"></i>320102
  		                    <a href="#" class="btn btn-default btn-sm pull-right">More ... </a>
  		                </section>
  		            </div>
  		        </div>
  		    </article>

  		    <article>
  		        <div class="row">
  		            <div class="col-sm-6 col-md-4">
                    <img src="http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg" width="260" height="125">
  		            </div>
  		            <div class="col-sm-6 col-md-8">
  		                <span class="label label-default pull-right"><i class="glyphicon glyphicon-comment"></i>50</span>
  		                <h4>メガバンク、りそな銀行、他約６０の金融送金手数料10分の１｜Ripple(リップル)…</h4>
  		                <p>仮想通貨Ripple(リップル）XRPの価格上昇が止まりません。ブロックチェーン技術を使い、銀行間の送金手数…</p>
  		                <section>
  		                    <i class="glyphicon glyphicon-folder-open"></i>Ripple
  		                    <i class="glyphicon glyphicon-user"></i>Tomaru
  		                    <i class="glyphicon glyphicon-calendar"></i>2018/01/08
  		                    <i class="glyphicon glyphicon-eye-open"></i>333
  		                    <a href="#" class="btn btn-default btn-sm pull-right">More ... </a>
  		                </section>
  		            </div>
  		        </div>
  		    </article>

  		    <article>
  		        <div class="row">
  		            <div class="col-sm-6 col-md-4">
                    <img src="http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg" width="260" height="125">
  		            </div>
  		            <div class="col-sm-6 col-md-8">
  		                <span class="label label-default pull-right"><i class="glyphicon glyphicon-comment"></i>50</span>
  		                <h4>仮想通貨取引所bitFlyer(ビットフライヤー)が株式上場を検討｜最初から上場目標…</h4>
  		                <p>仮想通貨取引所を運営するbitFlyer（ビットフライヤー）の噂が本当になるかもしれません。bitFlyer…</p>
  		                <section>
  		                    <i class="glyphicon glyphicon-folder-open"></i>bitFlyer
  		                    <i class="glyphicon glyphicon-user"></i>Hamada
  		                    <i class="glyphicon glyphicon-calendar"></i>2018/01/08
  		                    <i class="glyphicon glyphicon-eye-open"></i>4395
  		                    <a href="#" class="btn btn-default btn-sm pull-right">More ... </a>
  		                </section>
  		            </div>
  		        </div>
  		    </article>
  		</div>
  	</div>
  </div>

  <div class="ranking">
    <h3 class="popular">人気記事</h3>
    <div class="contents_s">
  		<div class="access_rank_post">
  			<div class="side_postlist">
          <div class="collapse navbar-collapse" id="nav_target">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Daily</a></li>
              <li><a href="#">Weekly</a></li>
              <li><a href="#">Monthly</a></li>
            </ul>
            <div id="disp_rank">
              <div class="column">
              	<span class="rank">1</span>
              	<a href="#">
              	    <img src="https://pbs.twimg.com/profile_images/378800000220029324/fe66faeca20115da8566e51d83447ead_400x400.jpeg" alt="" width="100" height="100"/>
              		<h5>仮想通貨関係「2018年予測と展望」part1｜ICO真の価値・Bitcoinで日本…</h3>
              	</a>
              	<p class="info">
              	とまるしょうき
              	</p>
              </div>
              <div class="column">
              	<span class="rank">2</span>
              	<a href="#">
              	    <img src="http://usbcode.ir/wp-content/uploads/2017/03/bootstrap.jpg" alt="" width="300" height="300" />
              		<h5>仮想通貨「2018年の予測と展望part2」ビットコインの価格｜クラッシュか5万ドル…</h3>
              	</a>
              	<p class="info">
              	トマルショウキ
              	</p>
              </div>
              <div class="column">
              	<span class="rank">3</span>
              	<a href="#">
              	    <img src="http://usbcode.ir/wp-content/uploads/2017/03/bootstrap.jpg" alt="" width="300" height="300" />
              		<h5>メガバンク、りそな銀行、他約６０の金融送金手数料10分の１｜Ripple(リップル)…</h3>
              	</a>
              	<p class="info">
              	都丸翔貴
              	</p>
              </div>
            </div>
  			  </div>
  		  </div>
      </div>
    </div>
  </div>

  <div class="tag">
    <h3>注目のキーワード</h3>
    <a href="#"><span class="label label-info">仮想通貨</span></a>
  	<a href="#"><span class="label label-info">Bitcoin</span></a>
  	<a href="#"><span class="label label-info">ICO</span></a>
  	<a href="#"><span class="label label-info">ブロックチェーン</span></a>
    <a href="#"><span class="label label-info">Ripple</span></a>
    <a href="#"><span class="label label-info">マイニング</span></a>
    <a href="#"><span class="label label-info">中国</span></a>
    <a href="#"><span class="label label-info">フィンテック</span></a>
    <a href="#"><span class="label label-info">取引所</span></a>
    <a href="#"><span class="label label-info">アルトコイン</span></a>
    <a href="#"><span class="label label-info">イーサリアム</span></a>
    <a href="#"><span class="label label-info">投資</span></a>
  </div>
</div>
