.form_area {
  width: 1000px;
  height: 50px;
}

.tagit {
  width: 1000px;
  height: 40px;
}

.ui-helper-hidden-accessible {
  display: none;
}

.article_sumit {
  width: 200px;
  height: 50px;
  color: blue;
}

.admin_link {
  font-size: 50px;
}
