.line{
  width: 100%;
  border: solid 2px rgba(0, 0, 0, 0.7);
  margin-top: 45px;
}


.article_body{
  float: left;
  padding: 0 30px 80px 30px;

  text-align: left;
  border-right: 1px solid black;
  margin-top: 50px;
  .title {
    padding-bottom: 30px;
    text-align: center;
    h1{
      border-bottom: 1px solid gray;
    }
  }
  p{
    padding-left: 15px;
    text-align: left;
  }
  h2{
    margin-left: initial;
    text-align: center;
  }
}
