.footer {
  clear: both;
}

footer{
  background-color: #33383c;
}

.footer-body {
  height: 40px;
}

.footer-content{
  color: #FFF;
  display: block;
  font-size: 13px;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 10px;
}

@media screen and(max-width: 405px){
  .footer-content{
    font-size: 11px;
  }
}
