/* Style to article Author */
h2 {
  font-size: 25px;
  margin-left: 300px;
}

.container2 {
  float: left;
  .thum_body{
    width: 85%;
    font-size: 15px;
    h2{
      font-size: 15px;
      margin: initial;
      display: none;
    }
    p{
      font-size: 15px;
      width: 85%;
    }
  }
}

.by-author {
	font-style: italic;
	line-height: 1.3;
	color: #aab6aa;
}

/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/
.featured-article {
	width: 100%;
	height: 100%;
	position: relative;
	margin-bottom: 1em;

  .block-title {
  	/* Position & Box Model */
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	z-index: 1;
  	/* background */
  	background: rgba(0,0,0,0.7);
  	/* Width/Height */
  	padding: .5em;
  	width: 100%;
  	/* Text color */
  	color: #fff;
    h2 {
    	margin: 0;
    }
  }
}

/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/
.main-list {
	padding-left: .5em;

  .media {
  	padding-bottom: 1.1em;
  	border-bottom: 1px solid #e8e8e8;
  }
}

article{
  background-color: #E0E0E0;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  // width: 860px;
  width: 100%;
}
.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment{
    padding: 5px;
}

.sidebar {
  float: right;
  margin-bottom: 50px;
  p{
    padding-left: 15px;
  }

  .popular {
    text-align: center;
    margin-right: 30px;
  }

  .nav {
    margin-bottom: 20px;
  }

  .info {
    font-size: 10px;
  }
}

.tag {
  margin-top: 50px;
}

.pagination {
  margin: 30px 35%;
}
