<div class="footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="footer-body col-md-12 col-sm-12 col-xs-12">
          <span class="footer-content">© 2018 altcoinまとめ All rights reserved</span>
        </div>
      </div>
    </div>
  </footer>
</div>
