<% if user_signed_in? %>
  <%= link_to '投稿する', new_article_path %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% end %>



<div class="row hidden-xs topper">
  <div class="col-xs-7 col-sm-7">
    <h1><%= link_to 'altcoinまとめ', root_path, class: "Title" %></h1>
  </div>
</div>
<div class="row">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav js-nav-add-active-class">
          <li class="active"><a href="/index.html">ニュース</a></li>
          <li><a href="/markets.html">主要コイン</a></li>
          <li><a href="/markets.html">アルトコイン</a></li>
          <li><a href="/buy.html">マーケット</a></li>
          <li><a href="/buy.html">マイニング</a></li>
          <li><a href="/svstrike.html">ICO</a></li>
          <li><a href="/contact.html">その他</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <a type="button" class="navbar-btn btn btn-gradient-blue" am-latosans="bold" href="https://susteen7.zendesk.com/hc/en-us">Search</a>
        </ul>
      </div>
    </div>
  </nav>
</div>
